.BuildControl{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
}

.BuildControl Button{
    display: block;
    font: inherit;
    font-weight: bolder;
    font-size: 20pt;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
}   

.BuildControl button:disabled {
    background-color: rgb(82, 80, 79);
    border: 1px dashed rgb(44, 43, 42);
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: darkgrey;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: black;
    color: white;
    margin: 10px;
    border: 1px solid black;
    padding: 4px;
}

.BuildControl .More {
    background-color: black;
    color: white;
    margin: 10px;
    border: 1px solid black;
    padding: 4px;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: black;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: black;
    color: white;
}